{% extends "layout.html" %}

{% block content %}
<h1> Explanation of the project 📝</h1>
<style type="text/css">
    body {
        background-color: AliceBlue;
    }
</style>

<h2>

    I did the graduation project on the road accident.
    <br />
    I think it's an interesting and important topic.
    <br />
    I want this conclusion to change the number of deaths I unfortunately grow each year.
    It's important for me to talk about the issue of warning people and maybe saving lives.
    <br />
    I found the DATA on the DATA GOV website
    <br />
    I did the project as part of a computer course where I attend a high school in Tel Aviv
    <br />
    I used the W3SCHOOLS site that I used for background examples, colors and more.
    <br />
    I wrote the code in HTML language

    I hope you enjoyed the site 💜
</h2>
<img src="https://i.ytimg.com/vi/xmeYVkVirEI/maxresdefault.jpg" width="900" height="500">
     {% endblock %}
