{% extends "layout.html" %}

{% block content %}

<style type="text/css">
    body {
        background-color: AliceBlue;
    }
</style>


<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Country: Israel<br />
    Shaul Avigur 7 Tel Aviv<br />
    <abbr title="Phone">P:</abbr>
    052.720.9811
</address>

<address>
    <strong>Nofar:</strong>   <a href="mailto:Support@example.com">nofar12345002gmail.com</a><br />
</address>
<img src="https://img.lovepik.com/original_origin_pic/19/01/16/ba57e5b531acf6a939be5d16dc46beb9.png_wh860.png" width="900" height="500">



{% endblock %}
